@model Konnie.Model.Tasks.SubTasks.SubstitutionTask

	<div>
		<table>
			<tr>
				<td>Name:</td>
				<td>@Model.Name</td>
			</tr>
			<tr>
				<td>Type:</td>
				<td>@Model.Type</td>
			</tr>
			<tr>
				<td>FilePath:</td>
				<td>@Model.FilePath</td>
			</tr>
		</table>
	</div>