@model Konnie.Model.Tasks.SubTasks.TransformTask

<div>
	<table>
		<tr>
			<td>Name:</td>
			<td>@Model.Name</td>
		</tr>
		<tr>
			<td>Type:</td>
			<td>@Model.Type</td>
		</tr>
		<tr>
			<td>InputFile:</td>
			<td>@Model.InputFile</td>
		</tr>
		<tr>
			<td>OutputFile:</td>
			<td>@Model.OutputFile</td>
		</tr>
	</table>
</div>